---
layout: default
title: Haushalte von Bund, Ländern und Kommunen
script_include: home
lang: hr
---
{% include relative-baseurl.html %}
{% assign translate = site.data.locales.hr.hr %}

<div class="main-content">
    <div class="container message-container">
      <div class="row welcome">
        <div class="col-xs-12 col-md-12">
          <div class="front-message">
            {{ translate.index.lead }}
          </div>
        </div>
      </div>
    </div>
    <div id="map-selector" class="container gray">
      <div class="row map">
        <div class="col-xs-12 col-md-7">
          <p class="claim">
            {{ translate.index.explore }}
          </p>
          <div id="default-welcome">
            <p>
            <b>{{ translate.index.choose }}:</b>
            <p>
            <select id="selectState" class="select-state">
              <option value="" disabled selected>{{ translate.index.select }}</option>
              {% for admindivisiontop in site.data.admindivisiontop %}
              <option value="{{ admindivisiontop['code'] }}">{{ admindivisiontop['name'] }}</option>
              {% endfor %}
            </select>
          </div>
          <div id="listing"></div>
        </div>
        <div class="col-xs-12 col-md-5">
          <div id="map"></div>
        </div>
      </div>
    </div>
    <div id="cities" class="container">
      {% include bund.html %}
    </div>
    <div id="search-results" class="container" style="display: none">
      <div class="row">
        <div class="col col-xs-12 col-md-12">
          <div class="close-search">{{ translate.index.back }} <img src="/static/img/mini-map.png"></div>
          <h1>{{ translate.index.missing }} <span class="city-name" id="search-city-name"></span></h1>

          <hr>

          {% capture getcity %}
            <span class="city-name"></span>
          {% endcapture %}

          {% assign investigate_byline = translate.index.investigate %}
          <h2 id="search-info">
            {{ investigate_byline | replace: "[city_name]", getcity }}
          </h2>

          <div class="fragdenstaat">
            <h3>{{ translate.index.foia.action }}</h3>

            <p>
              {{ translate.index.foia.intro }}
            </p>
            <a class="bluegreen-button" href="{{ site.foia_url }}">{{ translate.index.foia.request_link }}<i class="fa fa-long-arrow-right"></i></a>
          </div>

          <h1>{{ translate.index.contribute.intro }}</h1>

          <ul>
            <li>{{ translate.index.contribute.first }}</li>
            <li>{{ translate.index.contribute.second }}</li>
            <li>{{ translate.index.contribute.third }}</li>
          </ul>

        </div>
      </div>
    </div>
    <div class="container admindivisiontop-bottom-karte">
      <div class="row">
        <div class="col col-xs-12 col-md-12">
          <h1>{{ translate.index.master_budget.intro }}</h1>
          <p>
          <div class="treemap-big-preview">
            <p>
            {{ translate.index.master_budget.description }}
            </p>
          <a class="bluegreen-button" href="/haushalt/bund">
            {{ translate.index.master_budget.button }}
          </a>
          </div>
          </p>
        </div>
      </div>
    </div>
    </div>
</div>
<div class="clearfix"></div>

<script id="listing-template" type="text/x-handlebars-template">{% raw %}
  {% capture getstate %}
    <strong>{{state.name}}</strong>
  {% endcapture %}
  {{#if has_sites}}
    {% assign existing_byline = translate.index.display.exisitng %}
    <p>
      {{ existing_byline | replace: "[state_name]", getstate }}:</p>
    <ul>
      {{#each sites}}
        <li><strong><a href="{{url}}">{{name}}</a></strong>: {{tagline}}</li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if no_sites}}
    {% assign nonexisting_byline = translate.index.display.nonexisitng %}
    <p>
      {{ nonexisting_byline | replace: "[state_name]", getstate }}
    </p>
  {{/if}}
  <p>
    <strong>{{ translate.index.display.unavailable }}</strong>
    <a href="{{ relative-baseurl }}page/mitmachen.html">{{ translate.index.participate.join }}</a>{{ translate.index.participate.make_open }}
  </p>
{% endraw %}</script>

<script id="city-template" type="text/x-handlebars-template">{% raw %}
  <p><strong><a href="{{city.url}}">{{city.name}}</a></strong></p>
  <p>{{city.tagline}}</p>
  <p>
    <strong>{{ translate.index.display.unavailable }}</strong>
    <a href="{{ relative-baseurl }}page/mitmachen.html">{{ translate.index.participate.join }}</a>{{ translate.index.participate.make_open }}
  </p>
{% endraw %}</script>


<!--
<hr>
<div class="row dataset-listing">
  <div class="col-xs-12 col-md-4">
    <h2 id="laender">Länderhaushalte</h2>
    <p>
      Die Haushalte der Länder umfassen Ausgaben für
      Dienste wie Polizei und Bildung.
    </p>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="row">
    {% for haushalt in site.budget %}{% if haushalt.level == 'land' and haushalt.skip != true and haushalt.layout != "embed" %}
      <div class="col-xs-12 col-md-6">
        <h3><a href="{{ relative-baseurl }}haushalt/{{haushalt.slug}}/">{{haushalt.name}}</a></h3>
        <p>{{haushalt.tagline}}</p>
      </div>
    {% endif %}{% endfor %}
    </div>
  </div>
</div>

<hr>
<div class="row dataset-listing">
  <div class="col-xs-12 col-md-4">
    <h2 id="kommunen">Kommunalhaushalte</h2>
    <p>
      Haushalte von Bezirken, Kommunen und Kreisen.
    </p>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="row">
    {% for haushalt in site.budget %}{% if haushalt.level != 'land' and haushalt.level != 'bund' and haushalt.skip != true and haushalt.layout != "embed" %}
      <div class="col-xs-12 col-md-6">
        <h3><a href="{{ relative-baseurl }}haushalt/{{haushalt.slug}}/">{{haushalt.name}}</a></h3>
        <p>{{haushalt.tagline}}</p>
      </div>
    {% endif %}{% endfor %}
    </div>
  </div>
</div>
-->
