{% extends "base.html" %}

{% block body %}
  <div id="page">
    <nav class="navbar navbar-default" role="navigation" id="menu">
    <noscript>Javascript is disable - <a href="http://www.webestools.com/">http://www.webestools.com/</a> - <a href="http://www.webestools.com/ribbon-generator-web20-free-online-quickribbon-generator.html">Diagonal Ribbon Generator</a></noscript><script type="text/javascript" src="http://services.webestools.com/ribbons/ribbon.js?texte=ovo%20je%20beta%20verzija&lien=http%3A%2F%2Fgithub.com%2Fopenzagreb&color=%23FFFFFF&type=fixed&pos=left&size=20&font=ubuntu-title&style=11"></script>
      <div class="container relbox">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Navigacija</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Otvoreni proračun</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/hrvatska">Država</a>
            </li>
            <li>
              <a href="/#zupanije">Županije</a>
            </li>
            <li>
              <a href="/#gradoviopcine">Gradovi i općine</a>
            </li>
            <li class="hidden-sm">
              <a href="/page/europa.html">Europa</a>
            </li>
            <li>
              <a href="/page/intro.html">O projektu</a>
            </li>
          </ul>
          <div class="donations"><a href="http://zagreb.open.hr"><img src="/static/img/gradec.png" title="Otvoreni Zagreb!"></a></div>
        </div>
      </div>
    </nav>
    <div id="airlock" class="container">
      <div class="row">{% block content %}Ova stranica je namjerno stavljena prazna.{% endblock %}</div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-2 hidden-xs">
          <a class="logo" href="http://zagreb.open.hr">
            <img src="/static/img/openzagreb.png" alt="Otvoreni Zagreb" />
          </a>
        </div>
        <div class="col-xs-12 col-sm-10">
          <p>
            Otvoreni proračun je volonterski projekt grupe <a href="#">Otvoreni Zagreb</a> 
            i <a href="#">Udruge gradova</a>. Podacu su temeljeni na službenim podacima
            Ministarstva financija i lokalnih samouprava.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-7">
          <ul class="links">
            <li><a href="#">Otvoreni Zagreb</a></li>
            <li><a href="#">Otvoreni podaci</a></li>
            <li><a href="#">Udruga gradova</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-5 pull-right">
          <ul class="links pull-right">
            <li><a href="/page/sudjeluj.html">Sudjelujte</a></li>
            <li><a href="https://github.com/okfde/offenerhaushalt.de">Otvoreni kod</a></li>
            <li><a href="/page/kontakt.html">Impressum</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}
