<div class="navbar-top collapse navbar-collapse navbar-ex1-collapse">
  <div class="top-message">
    {{ translate.nav.top.message }}
  </div>
  <ul class="nav navbar-nav">
    <li>
      <a href="https://twitter.com/{{site.twitter_username}}"><img style="width: 22px" src="/static/img/twitter-icon.svg"></a>
      <a class="github" href="https://github.com/{{site.github_username}}/{{site.github_repo}}"><img style="width: 22px" src="/static/img/github.png"></a>
    </li>
    <li>
      <a href="{{ relative-baseurl }}page/finanzdaten.html">{{ translate.nav.top.about }}</a>
    </li>
    <li class="spendet">
      <a href="{{ relative-baseurl }}page/spenden.html">{{ translate.nav.top.donate }}</a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-default" role="navigation" id="menu">
  <div class="container relbox">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">{{ translate.nav.toggle }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ relative-baseurl }}">
      <img src="/static/img/ohh-logo.svg" class="main-logo">
       </a>
    </div>
 </div>
    <ul class="navbar right-nav">
      {% if page.url == '/' %}
      <li><i class="fa fa-search"></i>{{ translate.nav.bar.search }}</li>
      {% else %}
      <li><a href="{{ relative-baseurl }}"><i class="fa fa-search"></i>{{ translate.nav.bar.search }}</a></li>
      {% endif %}
      {% if page.url contains 'hinzufuegen' %}
      <li><i class="fa fa-plus"></i> {{ translate.nav.bar.add }}</li>
      {% else %}
      <li><a href="{{ relative-baseurl }}hinzufuegen/"><i class="fa fa-plus"></i> {{ translate.nav.bar.add }}</a></li>
      {% endif %}
      {% if page.url contains 'hilfestellung' %}
      <li class="active"><a href="{{ relative-baseurl }}hilfestellung/"><i class="fa fa-life-ring"></i> {{ translate.nav.bar.help }}</a></li>
      {% else %}
      <li><a href="{{ relative-baseurl }}hilfestellung/"><i class="fa fa-life-ring"></i> {{ translate.nav.bar.help }}</a></li>
      {% endif %}
    </ul>
</nav>
