{% if page.lang %}
  {% assign lang = page.lang %}
{% else %}
  {% assign lang = site.default_lang %}
{% endif %}

<div class="navbar-top collapse navbar-collapse navbar-ex1-collapse">
  <div class="top-message">
    {{ site.data.translations['navTopMessage'][lang] }}
  </div>
  <ul class="nav navbar-nav">
    <li>
      <a href="https://twitter.com/{{site.twitter_username}}"><img style="width: 22px" src="/static/img/twitter-icon.svg"></a>
      <a class="github" href="https://github.com/{{site.github_username}}/{{site.github_repo}}"><img style="width: 22px" src="/static/img/github.png"></a>
    </li>
    <li>
      <a href="/page/faq.html">{{ site.data.translations['navTopAbout'][lang] }}</a>
    </li>
    <li class="spendet">
      <a href="/page/donate.html">{{ site.data.translations['navTopDonate'][lang] }}</a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-default" role="navigation" id="menu">
  <div class="container relbox">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">{{ site.data.translations['navToggle'][lang] }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ relative-baseurl }}">
      <img src="/static/img/{{ site.site_logo }}" class="main-logo">
       </a>
    </div>
 </div>
    <ul class="navbar right-nav">
      {% if page.url == '/' %}
      <li><i class="fa fa-search"></i>{{ site.data.translations['navBarSearch'][lang] }}</li>
      {% else %}
      <li><a href="{{ relative-baseurl }}"><i class="fa fa-search"></i>{{ site.data.translations['navBarSearch'][lang] }}</a></li>
      {% endif %}
      {% if page.url contains 'adddata' %}
      <li><i class="fa fa-plus"></i> {{ site.data.translations['navBarAdd'][lang] }}</li>
      {% else %}
      <li><a href="/add/"><i class="fa fa-plus"></i> {{ site.data.translations['navBarAdd'][lang] }}</a></li>
      {% endif %}
      {% if page.url contains 'contribute' %}
      <li class="active"><a href="/contribute/"><i class="fa fa-life-ring"></i> {{ site.data.translations['navBarHelp'][lang] }}</a></li>
      {% else %}
      <li><a href="/contribute/"><i class="fa fa-life-ring"></i> {{ site.data.translations['navBarHelp'][lang] }}</a></li>
      {% endif %}
    </ul>
</nav>
