{% extends "base.html" %}

{% block body %}
  <div id="page">
    <nav class="navbar navbar-default" role="navigation" id="menu">
      <div class="container relbox">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Navigacija</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Otvoreni proračun</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/haushalt/bund">Država</a>
            </li>
            <li>
              <a href="/#laender">Županije</a>
            </li>
            <li>
              <a href="/#kommunen">Gradovi i općine</a>
            </li>
            <li class="hidden-sm">
              <a href="/page/europa.html">Europa</a>
            </li>
            <li>
              <a href="/page/intro.html">O projektu</a>
            </li>
          </ul>
          <div class="donations"><a href="http://okfn.de/about/spenden/"><img src="/static/img/buddha.png" title="Jetzt spenden!"></a></div>
        </div>
      </div>
    </nav>
    <div id="airlock" class="container">
      <div class="row">{% block content %}This page intentionally left blank.{% endblock %}</div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-2 hidden-xs">
          <a class="logo" href="http://okfn.de">
            <img src="/static/img/okfn.png" alt="Open Knowledge Foundation e.V." />
          </a>
        </div>
        <div class="col-xs-12 col-sm-10">
          <p>
            Otvoreni proračun je volonterski projekt grupe <a href="#">Otvoreni Zagreb</a> 
            i <a href="#">Udruge gradova</a>. Podacu su temeljeni na službenim podacima
            Ministarstva financija i lokalnih samouprava.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-7">
          <ul class="links">
            <li><a href="#">Open Data</a></li>
            <li><a href="#">Udruga gradova</a></li>
            <li><a href="#">ostalo</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-5 pull-right">
          <ul class="links pull-right">
            <li><a href="/page/mitmachen.html">Sudjelujte</a></li>
            <li><a href="https://github.com/okfde/offenerhaushalt.de">Otvoreni kod</a></li>
            <li><a href="/page/kontakt.html">Impressum</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}
