---
script_include: budget2
slug: berlin3
skip: true
layout: default
---
{% include relative-baseurl.html %}

{% if page.lang %}
  {% assign lang = page.lang %}
{% else %}
  {% assign lang = site.default_lang %}
{% endif %}

{% if page.config %}
<div class="row {% if page.url contains 'embed' %} embed{% endif %}">
  <div class="budget-page  {% if page.url contains 'embed' %} embed{% endif %} col-xs-12 col-md-12">
    <h1>{{page.name}}</h1>
    <h2>{{ site.data.translations['budgetIntro'][lang] }}</h2>
    <div id="treemap-budget"></div>
      <div class="city-info">
      {{ content }}
      </div>
    </div>
    <div id="embed-treemap">
      <a id="embed-button" target="_blank">embed</a>
      <div id="embed-code" style="display: none">
        <pre><code class="html">
&lt;iframe src="{{ site.url }}{{ page.url }}embed" width="100%" height="520px" frameborder="0" style="margin:0"&gt;
&lt;a href="{{ site.url }}{{ page.url }}"&gt;{{site.title}}: {{page.name}}&lt;/a&gt;
&lt;/iframe&gt;
&lt;br/&gt;
&lt;small&gt;
&lt;a href="{{ site.url }}{{ base_url }}{{ page.url }}"&gt;{{site.titledomain}}&lt;/a&gt;
&lt;/small&gt;
        </code></pre>
      </div>
    </div>
  </div>
</div>
{% else %}
    <div id="search-results" class="container">
      <div class="row">
        <div class="budget-page col col-xs-12 col-md-12">
          <h1>{{ site.data.translations['indexMissing'][lang] }} <span class="city-name" id="search-city-name">{{ page.name }}</span></h1>

          <hr>

          {% capture getcity %}
            <span class="city-name">{{ page.name }}</span>
          {% endcapture %}

          {% assign investigate_byline = site.data.translations['indexInvestigate'][lang] %}
          <h2 id="search-info">
            {{ investigate_byline | replace: "[city_name]", getcity }}
          </h2>

          <div class="fragdenstaat">
            <h3>{{ site.data.translations['indexFoiaAction'][lang] }}</h3>

            <p>
              {{ site.data.translations['indexFoiaIntro'][lang] }}
            </p>
            <a class="bluegreen-button" href="{{ site.foia_url }}">{{ site.data.translations['indexFoiaRequestLink'][lang] }} <i class="fa fa-long-arrow-right"></i></a>
          </div>

          <h1>{{ site.data.translations['indexContributeIntro'][lang] }}</h1>

          <ul>
            <li>{{ site.data.translations['indexContributeFirst'][lang] }}</li>
            <li>{{ site.data.translations['indexContributeSecond'][lang] }}</li>
            <li>{{ site.data.translations['indexContributeThird'][lang] }}</li>
          </ul>

        </div>
      </div>
    </div>
    <div class="container admindivisiontop-bottom-karte">
      <div class="row">
        <div class="col col-xs-12 col-md-12">
          <h1>{{ site.data.translations['indexMasterBudgetIntro'][lang] }}</h1>
          <p>
          <div class="treemap-big-preview">
            <p>
            {{ site.data.translations['indexMasterBudgetDescription'][lang] }}
            </p>
          <a class="bluegreen-button" href="/haushalt/bund">
            {{ site.data.translations['indexMasterBudgetButton'][lang] }}
          </a>
          </div>
          </p>
        </div>
      </div>
    </div>
  </div>

{% endif %}
